body {
    color: aliceblue;
    background: rgb(31, 31, 31);
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0px;    
    padding: 0px;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: rgb(34, 34, 34);
}

.nav_links {
    display: flex;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
    width: 30%;
}

.nav_links a {
    background-color: rgb(34, 34, 34);
    text-decoration: none;
    font-weight: bold;
}

.nav_links li {
    list-style: none;
}

.logo .home {
    font-size: 18px;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

a {
    color: inherit;
}

.burgger{
    display: none;
    cursor: pointer;
}

.burgger div {
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: aliceblue;
}

@media screen and (max-width:1024px) {
    .nav_links {
        width: 35%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow: hidden;
    }
    .nav_links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.2s ease-in;
    }
    .nav_links li{
        opacity: 0;
    }
    .burgger {
        display: block;
    }
}

.nav_active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.content{
    color:  rgb(211, 211, 211);
}

.container {
    width: 1100px;
    height: 1600px;
    margin: 0% auto;
    /* background-color: rgb(50, 31, 31);1 */
    margin-top: 60px;
    border-radius: 10px;
}

.container .my_top {
    height: 750px;
    width: 300px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    margin-left: 790px;
    margin-top: 30px;
}

.container .top_weeks {
    font-size: 12px;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 10px;
}

.container .top_months {
    font-size: 12px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;

}
.container .all {
    font-size: 12px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
}

.container .Recently_published {
    height: 300px;
    width: 773px;
    display: flex;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    margin-top: -750px;
    margin-left: 10px;
}

.Recently_published .rp {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(211, 211, 211);
}

.container .hr1 {
    height: 1px;
    width: 300px;
    background-color:  rgb(97, 97, 97);
    display: block;
    position: absolute;
    margin-top: 30px;
}

.Recently_published .hr2 {
    height: 1px;
    width: 773px;
    display: block;
    position: absolute;
    background-color: rgb(97, 97, 97);
    margin-top: 30px;
}

.hr3 {
    width: 100%;
    height: 1px;
    background-color: rgb(97, 97, 97);
    display: block;
    position: absolute;
}

.container .For_you {
    width: 773px;
    height: 440px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}

.For_you #p1 {
    display: block;
    font-size: 0px;
}

.For_you #p2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
}

.hr4 {
    height: 1px;
    width: 773px;
    background-color: rgb(97, 97, 97);
    display: block;
    position: absolute;
    margin-top: 5px;
}